// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.auth-wrapper {
    overflow: auto;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    padding: 10% 3% 3% 3%;
    background-color: #D1E6EE;
}

.row-1 {
    padding-top: 10%;
}

.button-wrapper {
    display: flex;
}

.errors {
    color:red;
    font-weight: bold;    
    font-size: 14px;
}

.pull-right {
    margin-left: 1%
}

.home-wrapper {
    background-color: #B295E3;
    min-height: 100vh;
}